
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  overflow-x: hidden;
}


.background-motion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url('../../assets/images/galactic_colorful_nuclei_galaxy_space_glow_wallpaper_background_4k_hd_space-3840x2160.jpg');
  background-size: cover;
  background-position: center;
}


.glass {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(15px); 
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(112, 111, 111, 0.1); 
  padding: 20px; 
  color: rgb(252, 248, 248); 
}


.main-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 4rem;
  z-index: 0; 
}


.header {
  padding: 1rem;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; 
}

.logo {
  height: 155px;
  object-fit: contain;
  border-radius: 5%;
}


.container-fluid {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}


.content-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}


.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  

}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.mute-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(7, 16, 63, 0.7);
  border: none;
  color: rgb(32, 54, 54);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}


.assets-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.assets-container {
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  height: 95%;
}

.assets-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}


.assets-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.card {
  flex: 1 1 calc(50% - 1rem);
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.icon {
  filter: drop-shadow(0 0 5px #7EFF66);
  margin-bottom: 0.5rem;
}

.card-title {
  font-size: 1rem; 
  margin: 0.25rem 0; 
}

.card-text {
  font-size: 0.9rem;
}


.get-started-btn {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  z-index: 1; 
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgb(43, 44, 44), 0 0 20px rgb(162, 149, 166), 0 0 30px rgb(51, 52, 51);
  transition: background-color 0.3s ease-in-out, box-shadow 0.1s ease-in-out;
}



@media (max-width: 1200px) {
  .content-row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .container-fluid {
    padding-top: 150px;
  }
  .assets-container {
    padding: 1rem;
  }
  .card {
    padding: 0.5rem;
  }
}

.glitch-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; 
  overflow: hidden;
}